Repository 2lambda123/Ericsson-codechecker, changes with the labels that .github/labeler.yml gives for each.
All labels: analyzer, ldlogger, test, web, style, GUI, API change, config, plist2html, tu_collector, client, database, documentation, version

.github/labeler.yml:

analyzer:
  - analyzer/**/*

ldlogger:
  - analyzer/tools/build-logger/**/*

test:
  - analyzer/tests/**/*
  - web/tests/**/*
  - web/server/tests/**/*
  - tools/plist_to_html/tests/**/*
  - tu_collector/tests/**/*
  - analyzer/tools/build-logger/test/**/*

web:
  - web/**/*

style:
  - web/**/*.css

GUI:
  - web/**/*.js
  - web/**/*.css
  - web/**/*.html

API change:
  - web/api/**/*

config:
  - config/**/*
  - analyzer/config/**/*
  - web/config/**/*
  - web/server/config/**/*

plist2html:
  - tools/plist_to_html/**/*

tu_collector:
  - tools/tu_collector/**/*

client:
  - web/client/**/*

database:
  - web/server/codechecker_server/database/**/*

documentation:
  - docs/**/*
  - web/server/www/userguide/userguide.md

version:
  - web/server/www/scripts/version.js
  - web/codechecker_web/shared/version.py

Add clang-tidy yaml report converter
  tools/report-converter/codechecker_report_converter/analyzers/clang_tidy_yaml/__init__.py
  tools/report-converter/codechecker_report_converter/analyzers/clang_tidy_yaml/analyzer_result.py
  tools/report-converter/codechecker_report_converter/analyzers/clang_tidy_yaml/parser.py
  tools/report-converter/requirements_py/dev/requirements.txt
  tools/report-converter/tests/unit/analyzers/test_clang_tidy_yaml_parser.py
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/empty.plist
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/empty1.out
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/empty2.out
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/files/Makefile
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/files/test.cpp
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/files/test2.cpp
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/files/test3.cpp
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/files/test3.hh
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy1.out
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy1.plist
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy2.out
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy2.plist
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy3.out
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy3_cpp.plist
  tools/report-converter/tests/unit/analyzers/tidy_yaml_output_test_files/tidy3_hh.plist
Labels: none

Resolve paths when blaming files
  web/client/codechecker_client/blame_info.py
Labels: web, client

Add repr to BuildAction class
  analyzer/codechecker_analyzer/buildlog/build_action.py
Labels: analyzer

Add single plist option
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  tools/report-converter/codechecker_report_converter/report/parser/plist.py
Labels: analyzer

Fix Linter errors
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/cmd/check.py
  tools/report-converter/codechecker_report_converter/report/parser/plist.py
Labels: analyzer

False value if parameter is not present
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
Labels: analyzer

Pass plist_file_name along to analyze command
  analyzer/codechecker_analyzer/cmd/check.py
Labels: analyzer

Move logging inside the handling condition
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer

Factor out merging logic into a function
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer

[feat] Guideline statistics
  analyzer/codechecker_analyzer/analyzer_context.py
  codechecker_common/guidelines.py
  config/guidelines/sei-cert.yaml
  web/api/js/codechecker-api-node/dist/codechecker-api-6.58.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.59.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/codechecker_web/shared/version.py
  web/codechecker_web/shared/webserver_context.py
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/CountChips.vue
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatistics.vue
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/StatisticsDialog.vue
  web/server/vue-cli/src/router/index.js
  web/server/vue-cli/src/views/Statistics.vue
Labels: analyzer, web, GUI, API change, config, version

Add analyze test case
  analyzer/tests/functional/analyze/test_analyze.py
Labels: analyzer, test
